body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.tile-image {
  width: 300px;
  float: left;
  margin-right: 50px;
}

.card {
/*  display: inline-block; */
  width: 700px;
  float: left;
  padding-right: 10px;
}

.right.card {
  float: right;
}

.bluetext {
  color: #191970;
}

@media (max-width: 600px) {
  .right.card {
    float: none;
  }
  .card {
    float: none;
    display: block;
  }
  .tile-image {
    float: none;
  }
  h1 {
    width: 100%;
    text-align: center;
  }
  .card {
    width: 100%;
  }
}